/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default body margin and padding */
body {
  margin: 0;
  padding: 0;
  background-color: #808080;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation styling */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px; /* Add padding to push the name down */
  background-color: black;
  text-align: center;
}

nav h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3b82f6; /* Tailwind blue */
}

/* Social Icons Styling */
.social-icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.icon {
  font-size: 3rem; /* Increased icon size */
  transition: color 0.3s ease, transform 0.3s ease;
  color: white;
}

.icon:hover {
  color: #3b82f6; /* Turn blue on hover */
  transform: scale(2); /* Slightly scale up on hover */
}

/* Hero Section styling */
.hero {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.hero p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.hero h2:hover {
  color: #3b82f6;
}

.view-projects-btn {
  background-color: #3b82f6;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  font-size: large;
}

.view-projects-btn:hover {
  background-color: #2563eb;
}

/* About Section styling */
.about-section {
  background-color: black;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-section h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #3b82f6;
}

.about-section p {
  color: #9ca3af;
  font-size: 1.125rem;
}

/* Projects Section styling */
.projects-section {
  background-color: black;
  padding: 4rem 0;
  text-align: center;
}

.projects-section h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}

.project-item {
  padding: 2rem;
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.project-item:hover {
  border-color: white;
  box-shadow: 0 0 15px 5px white; /* White glow effect on hover */
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Footer styling */
footer {
  background-color: black;
  color: #9ca3af;
  padding: 1rem 0;
  text-align: center;
}
